.chat-side
  .side__header
    .side__header--box
      %h3.side__header--box__user-name
        渡り廊下
      %ul.side__header--box__menu
        %li.side__header--box__menu__new-group
          = link_to do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.side__header--box__menu__edit-user
          = link_to do
            = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__group-name
        group-name__1
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__2
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__3
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__4
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__5
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__6
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__7
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__8
      .group__latest-message
        recent-message
    .group
      .group__group-name
        group-name__9
      .group__latest-message
        recent-message